.tile {
  display: flex;
  justify-content: flex-start;
  height: 75px;
  width: 375px;
}

.tile-circle {
  flex-basis: 75px;
  border-radius: 50% 0 0 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background: rgb(var(--granite));
}
.tile-rectangle {
  flex: 1;
  background: rgb(var(--granite));
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.circle {
  color: rgb(var(--midnight));
  border-radius: 50%;
  margin: 1px;
  min-height: 71px;
  min-width: 71px;
  font-family: styrene;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-image {
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.tile-image img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
